flask
flask-admin
flask-simplelogin
flask-bootstrap
flask-sqlalchemy
sqlalchemy-serializer
dynaconf
flask-restful
click
itsdangerous
Jinja2
MarkupSafe
python-dotenv
Werkzeug
sec-edgar-api
feedparser
langchain
openai
chromadb

#
pytest
coverage
flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
